.SyncArchive/**
data/**
ignore/**
ms/alaska_ms_2014????.pdf
references/**
results/**
simulation**
**/*.aux
**/*.log
**/*.fls
**/*.synctex.gz
**/*.fdb_latexmk
**/*.dll
GADM**
**/*.o
.SyncID
.SyncIgnore